<!DOCTYPE html>
<html lang="en-US" class="no-js">


<head>

    <!-- ==============================================
    Title and Meta Tags
    =============================================== -->
    <meta charset="utf-8">
    <title>Judner Antoine | Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="shortcut icon" href="assets/JA.png">
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">

    <!-- ==============================================
    CSS
    =============================================== -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/flexslider.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/Exercise1.css">
    <link rel="stylesheet" href="css/Exercise2.css">
    <link rel="stylesheet" href="css/Exercise3.css">
    <link rel="stylesheet" href="css/Exercise4.css">
    <link href="Content/SyntaxHighlighter/shCore.css" rel="stylesheet" />
    <link href="Content/SyntaxHighlighter/shThemeRDark.css" rel="stylesheet" />

    <!-- ==============================================
    Fonts
    =============================================== -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>

    <!-- ==============================================
    JS
    =============================================== -->
    <!--[if lt IE 9]>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="js/libs/modernizr.min.js"></script>


</head>

<body data-spy="scroll" data-target="#main-nav" data-offset="200">

    <!-- ==============================================
    MAIN NAV
    =============================================== -->
    <div id="main-nav" class="navbar navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>

                <!-- ======= LOGO ========-->
                <a class="navbar-brand scrollto" href="#home">Judner Antoine<br><span>Full Stack Developer</span></a>
                <!-- <a class="navbar-brand scrollto ir-logo" href="#">Judner Antoine<br><span>UI Designer</span></a> -->

            </div>

            <div id="site-nav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="sr-only">
                        <a href="#home" class="scrollto">Home</a>
                    </li>
                    <li>
                        <a href="#about" class="scrollto">About Me</a>
                    </li>
                    <li>
                        <a href="#portfolio-skills" class="scrollto">Skills</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="scrollto">My Projects</a>
                    </li>
                    <li>
                        <a href="#contact" class="scrollto">Contact Me</a>
                    </li>
                    <li>
                        <a href="#link" class="scrollto">Blog</a>
                    </li>


                </ul>
            </div><!--End navbar-collapse -->

        </div><!--End container -->

    </div><!--End main-nav -->
    <!-- ==============================================
    HEADER
    =============================================== -->
    <header id="home" class="jumbotron">

        <div class="container">

            <div class="message-box clearfix">

                <div class="left-col">
                    <p>I AM <br /><span>Judner Antoine</span><br />and I'm a web</p>
                </div>
                <div class="right-col flexslider home-slider">
                    <h1>Developer</h1>
                </div><!--End home-slider -->

            </div><!--End message-box -->

        </div><!--End container -->

    </header><!--End header -->
    <!-- ==============================================
    ABOUT
    =============================================== -->
    <section id="about">

        <div class="container">

            <div class="row">
                <div class="col-sm-4 col-sm-offset-1 scrollimation fade-right">
                    <img class="img-responsive img-circle img-center" src="assets/jantoine2017.jpg" alt="">
                </div>
                <div class="col-sm-6 col-sm-offset-1 scrollimation fade-left">
                    <h1>Hello, I am Judner Antoine...</h1>
                    <p>
                        I'm a software developer living in Kenersville, North Carolina.
                        I have a passion for evolving technologies that makes life easier and serves as window to the world.<br /><br />
                        I graduated from Webster University in 2013 with a Masters' Degree in Information Technology Management and a Bachelors' Degree in Business Administration from Colorado Tech University in 2010.
                    </p>
                    <a href="assets/Resume/Resume_JAntoine.pdf" target="_blank" class="btn btn-theme transparent">Resume</a>
                </div>
            </div><!--End row -->

        </div><!--End container -->

    </section><!--End about section -->
    <!--==============================================
    SKILLS
    ===============================================-->
    <div id="portfolio-skills" class="text-center">

        <h1 class="section-title scrollimation scale-in">Technological<span>Skills</span> <i class="icon-desktop"></i></h1>

        <ul class="list-inline ">

            <li class="intro-skills">
                <a href="#portfolio-skills" class="btn btn-default btn-lg leng"><span class="network-name">HTML / CSS</span></a><br />
                <a href="#portfolio-skills" class="btn btn-default btn-lg leng"><span class="network-name">Bootstrap </span></a><br />
                <a href="#portfolio-skills" class="btn btn-default btn-lg leng"><span class="network-name">AJAX</span></a>
            </li>

            <li class="intro-skills">
                <a href="#portfolio-skills" class="btn btn-default btn-lg leng"><span class="network-name">JavaScript</span></a><br />
                <a href="#portfolio-skills" class="btn btn-default btn-lg leng"><span class="network-name">jQuery</span></a><br />
                <a href="#portfolio-skills" class="btn btn-default btn-lg leng"><span class="network-name">Angular.Js</span></a>
            </li>

            <li class="intro-skills">
                <a href="#portfolio-skills" class="btn btn-default btn-lg leng"><span class="network-name">C# / ASP.NET MVC</span></a><br />
                <a href="#portfolio-skills" class="btn btn-default btn-lg leng"><span class="network-name">Web API</span></a><br />
                <a href="#portfolio-skills" class="btn btn-default btn-lg leng"><span class="network-name">SQL Server / EF</span></a>
            </li>

        </ul>

    </div><!--End portfolio header -->
    <!-- ==============================================
    PORTFOLIO
    =============================================== -->
    <section id="portfolio">

        <div id="portfolio-header" class="text-center">

            <h1 class="section-title scrollimation scale-in">Interesting <span>projects</span> I've worked on<i class="icon-folder-open"></i></h1>

        </div><!--End portfolio header -->

        <div class="container masonry-wrapper scrollimation fade-in">

            <div id="projects-container">

                <!-- ==============================================
                SINGLE PROJECT ITEM
                =============================================== -->

                <a class="project-item  ui-kits" href="#" data-images="assets/projects/project-slide.jpg, assets/projects/project-slide.jpg" />

                <img class="img-responsive project-image" src="assets/JS-exercises-test.jpg" alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">JavaScript Exercises</h2><!--Project Title -->
                    <p></p><!--Project Subtitle -->
                </div>

                <a class="project-item  ui-kits" href="https://jdantoine-bugtracker.azurewebsites.net/" data-images="assets/projects/bugtracker1.png, assets/projects/bugtracker2.png, assets/projects/bugtracker3.png">

                    <img class="img-responsive project-image" src="assets/bug-tracker.jpg" alt=""><!--Project thumb -->

                    <div class="hover-mask">
                        <h2 class="project-title">Bug Tracker</h2><!--Project Title -->
                    </div>
                </a><!--End Project Item -->

                <a class="project-item  ui-kits" href="https://jdantoine-blog.azurewebsites.net/" data-images="assets/projects/blog1.png, assets/projects/blog2.png">
                    <img class="img-responsive project-image" src="assets/blog-p.jpg" alt=""><!--Project thumb -->
                    <div class="hover-mask">
                        <h2 class="project-title">Blog App</h2><!--Project Title -->
                    </div>
                </a><!--End Project Item -->

                <a class="project-item ui-kits" href="https://jdantoine-pocket.azurewebsites.net/" data-images="assets/projects/pocket1.png, assets/projects/pocket2.png, assets/projects/pocket3.png">

                    <img class="img-responsive project-image" src="assets/budget.jpg" alt=""><!--Project thumb -->
                    <div class="hover-mask">
                        <h2 class="project-title">Budgeting System</h2><!--Project Title -->
                    </div>
                </a><!--End Project Item -->

                <a class="project-item icons" href="#somelink" data-images="assets/projects/project-slide.jpg, assets/projects/project-slide.jpg">
                    <img class="img-responsive project-image" src="assets/cars.jpg" alt=""><!--Project thumb -->
                    <div class="hover-mask">
                        <h2 class="project-title">Auto Market App</h2><!--Project Title -->
                    </div>
                </a><!--End Project Item -->

            </div><!-- End projects -->

        </div><!-- End container -->
        <!-- ==============================================
        PROJECT PREVIEW MODAL (Do not alter this markup)
        =============================================== -->
        <div id="project-modal" class="modal fade">

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body">

                        <div class="left-col">
                            <img class="img-responsive" src="assets/pict.png" alt="">
                            <div class="loader"></div>
                            <div class="image-wrapper"></div>
                        </div>

                        <h1></h1>

                        <div class="project-descr"></div>

                        <div class="clearfix"></div>

                        <p class="text-center"><a class="btn btn-theme"><i class="icon-external-link"></i>Visit Website</a></p>

                    </div><!-- End modal-body -->

                </div><!-- End modal-content -->

            </div><!-- End modal-dialog -->

        </div><!-- End modal -->
        <!--JAVASCRIPT MODAL-->

        <div id="project-modal-JS" class="modal fade">

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="js-navbar">
                        <div class="row">
                            <div class="col-md-3 js-navbar-button">
                                <p class="text-center"><a id="numgames" class="btn btn-theme-js" onclick="toggle('NumberGames')"><i class="icon-external-link"></i>Number Games</a></p>
                            </div>
                            <div class="col-md-3 js-navbar-button">
                                <p class="text-center"><a id="fact" class="btn btn-theme-js" onclick="toggle('Factorial')"><i class="icon-external-link"></i>Factorial</a></p>
                            </div>
                            <div class="col-md-3 js-navbar-button">
                                <p class="text-center"><a id="fizzbuzz" class="btn btn-theme-js" onclick="toggle('FizzBuzz')"><i class="icon-external-link"></i>Fizz Buzz</a></p>
                            </div>
                            <div class="col-md-3 js-navbar-button">
                                <p class="text-center"><a id="palindrome" class="btn btn-theme-js" onclick="toggle('Palindrome')"><i class="icon-external-link"></i>Palindrome</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body" style="text-align: center">

                        <!--EXERCISE 1-->
                        <!--Five numbers: html-->
                        <div class="exercises" id="NumberGames">
                            <div>
                                <h1 id="js-ex" style="font-size: 40px">JavaScript Exercises<br /><br /></h1>
                                <h2 style="font-size: 32px">Number Games<br /><br /></h2>
                                <h5>Pick any 5 numbers!</h5>
                            </div>
                            <form id="form-ng">
                                1: <input class="input-ng" type="number" name="1st-ng" /><br /><br />
                                2: <input class="input-ng" type="number" name="2nd-ng" /><br /><br />
                                3: <input class="input-ng" type="number" name="3rd-ng" /><br /><br />
                                4: <input class="input-ng" type="number" name="4th-ng" /><br /><br />
                                5: <input class="input-ng" type="number" name="5th-ng" /><br /><br />
                            </form>
                            <div id="error-ng"></div><br />
                            <button id="submit-ng">Submit</button>
                            <button id="again-ng">Start Fresh</button><br />
                            <div id="numbers-ng"></div>

                            <pre class="brush: js text"> <!--The script highlighter : five numbers-->
                                    $(document).ready(function () {
                                        $(".input-ng").focus(function () {
                                            $(this).css("outline-color", "#388E8E");
                                        });
   
                                        $("#again-ng").click(function () {
                                            $("#numbers-ng").empty();
                                            $("#error-ng").empty();
                                            $("#form-ng")[0].reset();
                                        });
                                        $("#submit-ng").click(function () {
                                            var one = parseFloat($("input[name=1st-ng]").val());
                                            var two = parseFloat($("input[name=2nd-ng]").val());
                                            var three = parseFloat($("input[name=3rd-ng]").val());
                                            var four = parseFloat($("input[name=4th-ng]").val());
                                            var five = parseFloat($("input[name=5th-ng]").val());
                                            var lowest = Math.min(one, two, three, four, five);
                                            var highest = Math.max(one, two, three, four, five);
                                            var average = Math.round(((one + two + three + four + five) / 5) * 1000) / 1000;
                                            var sum = Math.round((one + two + three + four + five) * 1000) / 1000;
                                            var product = Math.round((one * two * three * four * five) * 1000) / 1000;
                                            if ($.trim($("#numbers-ng").text()) != "") {
                                                $("#numbers-ng").empty();
                                            }
                                            if ((!(isNaN(one))) && (!(isNaN(two))) && (!(isNaN(three))) && (!(isNaN(four))) && (!(isNaN(five)))) {
                                                $("#numbers-ng").append("<p>LOWEST: " + lowest + "</p>");
                                                $("#numbers-ng").append("<p>HIGHEST: " + highest + "</p>");
                                                $("#numbers-ng").append("<p>AVERAGE: " + average + "</p>");
                                                $("#numbers-ng").append("<p>SUM: " + sum + "</p>");
                                                $("#numbers-ng").append("<p>PRODUCT: " + product + "</p>");
                                                $("#error-ng").empty();
                                            }
                                            else {
                                                $("#error-ng").empty();
                                                $("#error-ng").append("<p>You must submit 5 numbers!</p>");
                                            }
                                        });
                                    });
                                </pre>
                        </div>
                        <!--EXERCISE 2-->
                        <!--Factorial html-->
                        <div class="exercises" id="Factorial" style="display:none">
                            <div>
                                <h1 id="js-ex" style="font-size: 40px">JavaScript Exercises<br /><br /></h1>
                                <h2 style="font-size: 32px">Factorial<br /><br /></h2>
                                <h5>Pick any whole number!</h5>
                            </div>
                            <div>
                                <form id="form-f">
                                    <input class="input-f" type="number" name="1st-f" /><br /><br />
                                </form>
                            </div>
                            <div id="error-f"></div><br />
                            <button id="submit-f">Submit</button>
                            <button id="again-f">New Number</button><br />
                            <div id="numbers-f"></div>

                            <pre class="brush: js text"> <!--The script highlighter : Factorial-->
                                    $(document).ready(function () {
                                        $(".input-f").focus(function () {
                                            $(this).css("outline-color", "#388E8E");
                                        });
                                        $("#submit-f").click(function () {
                                            var one = parseInt($("input[name=1st-f]").val());
                                            var oneF = parseFloat($("input[name=1st-f]").val());
                                            var factorial = 1;
                                            if ($.trim($("#numbers-f").text()) != "") {
                                                $("#numbers-f").empty();
                                            }
                                            if (isNaN(one)) {
                                                $("#error-f").empty();
                                                $("#error-f").append("<p>You must submit a number!</p>");
                                            }
                                            else if (one < 0) {
                                                $("#error-f").empty();
                                                $("#error-f").append("<p>Your number must be positive!</p>");
                                            }
                                            else if ((oneF % 1) != 0) {
                                                $("#error-f").empty();
                                                $("#error-f").append("<p>You must enter a whole number!</p>");
                                            }
                                            else if (one === 1) {
                                                $("#error-f").empty();
                                                $("#numbers-f").append("<p>1! = 1.</p>");
                                            }
                                            else if (one === 0) {
                                                $("#error-f").empty();
                                                $("#numbers-f").append("<p>0! = 1..... for some odd reason...</p>");
                                            }
                                            else {
                                                if (one >= 0) {
                                                    $("#error-f").empty();
                                                    for (i = one; i > 1; i--) {
                                                        factorial *= i;
                                                    }
                                                    $("#numbers-f").prepend("<p>" + one + "! = " + factorial + ".</p>");
                                                }
                                            }
                                        });
                                        $("#again-f").click(function () {
                                            $("#numbers-f").empty();
                                            $("#error-f").empty();
                                            $("#form-f")[0].reset();
                                        });
                                    });
                                </pre>
                        </div>
                        <!--EXERCISE 3-->
                        <!--Fizz Buzz html-->
                        <div class="exercises" id="FizzBuzz" style="display:none">

                            <div>
                                <h1 id="js-ex" style="font-size: 40px">JavaScript Exercises<br /><br /></h1>
                                <h2 style="font-size: 32px">Fizz Buzz<br /><br /></h2>
                                <h5>Pick any two whole numbers between 1-100!</h5>
                            </div>

                            <div>
                                <form id="form-fb">
                                    1: <input class="input-fb" type="number" name="1st-fb" /><br /><br />
                                    2: <input class="input-fb" type="number" name="2nd-fb" /><br /><br />
                                </form>
                            </div>

                            <div id="error-fb"></div><br />

                            <button id="submit-fb">Submit</button>
                            <button id="start-again-fb">Start Fresh</button><br />

                            <div id="numbers-fb"></div>


                            <pre class="brush: js text">  <!--The script highlighter: Fizz Buzz-->
                                    $(document).ready(function () {
                                        $(".input-fb").focus(function () {
                                            $(this).css("outline-color", "#388E8E");
                                        });
                                        $("#submit-fb").click(function () {
                                            var one = parseInt($("input[name=1st-fb]").val());
                                            var two = parseInt($("input[name=2nd-fb]").val());
                                            var oneF = parseFloat($("input[name=1st-fb]").val());
                                            var twoF = parseFloat($("input[name=2nd-fb]").val());
                                            if ($.trim($("#numbers-fb").text()) != "") {
                                                $("#numbers-fb").empty();
                                            }
                                            if ((isNaN(one)) || (isNaN(two))) {
                                                $("#error-label").empty();
                                                $("#error-label").append("<p>You must submit 2 numbers!</p>");
                                            }
                                            else if (((one < 1) || (one > 100)) || ((two < 1) || (two > 100))) {
                                                $("#error-label").empty();
                                                $("#error-label").append("<p>Your numbers must be between 1-100!</p>");
                                            }
                                            else if (((oneF % 1) != 0) || ((twoF % 1) != 0)) {
                                                $("#error-label").empty();
                                                $("#error-label").append("<p>You must enter whole numbers!</p>");
                                            }
                                            else {
                                                if (((one >= 1) && (one <= 100)) && ((two >= 1) && (two <= 100))) {
                                                    $("#error-label").empty();
                                                    for (i = 1; i < 101; i++) {
                                                        if ((i % one === 0) && (i % two === 0)) {
                                                            $("#numbers-fb").append("<p>FizzBuzz</p>");
                                                        }
                                                        else if (i % one === 0) {
                                                            $("#numbers-fb").append("<p>Fizz</p>");
                                                        }
                                                        else if (i % two === 0) {
                                                            $("#numbers-fb").append("<p>Buzz</p>");
                                                        }
                                                        else {
                                                            $("#numbers-fb").append("<p>" + i + "</p>");
                                                        }
                                                    }
                                                }
                                            }
                                        });
                                        $("#start-again-fb").click(function () {
                                            $("#numbers-fb").empty();
                                            $("#error-label").empty();
                                            $("#form-fb")[0].reset();
                                        });
                                    });
                                </pre>
                        </div>

                        <!--EXERCISE 4-->
                        <!--Palindrome html-->
                        <div class="exercises" id="Palindrome" style="display:none">
                            <div>
                                <h1 id="js-ex" style="font-size: 40px">JavaScript Exercises<br /><br /></h1>
                                <h2 style="font-size: 32px">Palindrome<br /><br /></h2>
                                <h5>Pick any word or phrase!</h5>
                            </div>
                            <div>
                                <form id="form-p">
                                    <input class="input-p" type="text" name="1st-p" /><br /><br />
                                </form>
                            </div>
                            <div id="error-p"></div><br />
                            <button id="submit-p">Submit</button>
                            <button id="again-p">New Word</button><br />
                            <div id="answer-p"></div>

                            <pre class="brush: js text"> <!--The script highlighter : Palaindrome-->
                                    $(document).ready(function () {
                                        $(".input-p").focus(function () {
                                            $(this).css("outline-color", "#388E8E");
                                        });
                                        $("#submit-p").click(function () {
                                            var one = $("input[name=1st-p]").val().toUpperCase();
                                            var oneR = one.split('').reverse().join('');
                                            var numberCheck = parseInt(one);
       
                                            if ($.trim($("#answer-p").text()) != "") {
                                                $("#answer-p").empty();
                                            }
                                            if ((one === "")) {
                                                $("#error-p").empty();
                                                $("#error-p").append("<p>You did not submit anything!</p>");
                                            }
                                            else if (isNaN(numberCheck) === false) {
                                                $("#error-p").empty();
                                                $("#error-p").append("<p>Numbers are invalid!</p>");
                                            }
                                            else {
                                                $("#error-p").empty();
                                                if (one === oneR) {
                                                    $("#answer-p").append("<p>'" + one + "' is a palindrome!</p>");
                                                }
                                                else {
                                                    $("#answer-p").append("<p>'" + one + "' is not a palindrome.</p>");
                                                }
                                            }        
                                        });
                                        $("#again-p").click(function () {
                                            $("#answer-p").empty();
                                            $("#error-p").empty();
                                            $("#form-p")[0].reset();
                                        });
                                    });
                                </pre>
                        </div>

                        <div class="project-descr"></div>
                        <div class="clearfix"></div>

                    </div><!-- End modal body -->

                </div><!-- End modal content -->

            </div><!-- End modal dialog -->

        </div><!-- End modal -->
        <!--BLOG MODAL-->
        <!-- End modal -->
        <!--BUG TRACKER MODAL-->
        <!-- End modal -->
        <!--BUDGETING SYSTEM MODAL-->
        <!-- End modal -->
        <!--CAR LISTER MODAL-->

        <div id="project-modal-CL" class="projects modal fade">

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body" style="text-align: center">

                        <div class="left-col">
                            <img class="img-responsive" src="assets/pict.png" alt="">
                            <div class="loader"></div>
                            <div class="image-wrapper"></div>
                        </div>

                        <h1></h1>

                        <div class="project-descr"></div>

                        <div class="clearfix"></div>

                        <p class="text-center"><a class="btn btn-theme"><i class="icon-external-link"></i>Visit Website</a></p>

                    </div><!-- End modal-body -->

                </div><!-- End modal-content -->

            </div><!-- End modal-dialog -->

        </div><!-- End modal -->
        <!--Event App-->
        <!-- End modal -->

    </section><!-- End portfolio section -->
    <!-- ==============================================
    TWITTER FEED
    =============================================== -->
    <section id="twitter">
        <div class="container">
            <div class="row scrollimation fade-in">
                <div class="col-xs-12 twitter-icon">
                    <a href="#link" id="linkedin-btn" class="btn btn-theme transparent" style="padding: 14px 25px"><i class="icon-linkedin"></i>Visit My LinkedIn Page</a>
                </div>
                <div class="col-sm-11">
                    <div id="twitter-slider" class="flexslider" data-widget-id="345690956013633536" data-tweets-length="5">

                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->

    </section><!-- End Twitter section -->
    <!-- ==============================================
    CONTACT
    =============================================== -->
    <section id="contact">

        <div class="container">

            <h1 class="section-title scrollimation scale-in">Leave me a <span>Message</span> below</h1>

            <div class="row">

                <div class="col-sm-5 contact-info scrollimation fade-right">

                    <p>Feel free to send me a quick note using the form on the right if you would like to learn more about my projects or technological expertise. I will be sure to respond as soon as I can.<br /><br />Have a wonderful day!</p>

                    <address>
                        Judner Antoine<br>
                    </address>

                    <ul class="socials">
                        <li><a href="#link"><i class="icon-twitter"></i></a></li>
                        <li><a href="#link"><i class="icon-facebook"></i></a></li>
                        <li><a href="#link"><i class="icon-instagram"></i></a></li>
                        <li><a href="#link"><i class="icon-google-plus"></i></a></li>
                    </ul>

                </div>

                <!--=== Contact Form ===-->
                <form action="/Home/ContactHtml" method="post">
                    <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                        <ul>
                            <li style="display:none"></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" data-val="true" data-val-required="The FromName field is required." id="FromName" name="FromName" type="text" value="" placeholder="Your Name">
                                <span class="field-validation-valid help-block text-danger" data-valmsg-for="FromName" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" data-val="true" data-val-email="The FromEmail field is not a valid e-mail address." data-val-required="The FromEmail field is required." id="FromEmail" name="FromEmail" type="text" value="" placeholder="Your Email">
                                <span class="field-validation-valid help-block text-danger" data-valmsg-for="FromEmail" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" data-val="true" data-val-required="The Subject field is required." id="Subject" name="Subject" type="text" value="" placeholder="Subject">
                                <span class="field-validation-valid help-block text-danger" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" data-val="true" data-val-required="The Body field is required." id="Body" name="Body" type="text" value="" placeholder="Type message here">
                                <span class="field-validation-valid help-block text-danger" data-valmsg-for="Body" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <input class="btn btn-brand" type="submit" value="Submit">
                        </div>
                    </div>
                </form>

            </div><!-- End row -->

        </div><!-- End container -->

    </section><!-- End contact section -->
    <!-- ==============================================
    FOOTER
    =============================================== -->
    <footer id="main-footer">

        <div class="container">

            <div class="row">

                <div class="col-sm-6 left-col">
                    <h1 class="small-logo">Judner Antoine<br><span>Full Stack Developer</span></h1>
                    <ul class="footer-nav">
                        <li><a class="scrollto" href="#home">Home</a></li>
                        <li><a class="scrollto" href="#portfolio-skills">Skills</a></li>
                        <li><a class="scrollto" href="#portfolio">Portfolio</a></li>
                        <li><a class="scrollto" href="#contact">Contact</a></li>
                    </ul>
                </div>

                <div class="col-sm-6 right-col">
                    <h2>Hobbies</h2>
                    <p>
                        When I'm not writing code, I like to produce music and making beats.
                        I love to read all kind of books because “the more that you read, the more things you will know.
                        The more you learn, the more places you’ll go.” I also enjoy indoor soccer, running, and pretty much anything else that involves being creative!
                    </p>
                </div>

            </div><!-- End row -->

        </div><!-- End container -->

    </footer><!-- End footer -->
    <!-- ==============================================
    SCRIPTS
    =============================================== -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>-->
    <script src="scripts/jquery-2.2.2.js"></script>
    <!--<script>window.jQuery || document.write('<script src="js/libs/jquery-1.8.2.min.js">\x3C/script>')</script>-->

    <script src="js/libs/bootstrap.min.js"></script>
    <script src='js/jquery.scrollto.js'></script>
    <script src='js/jquery.flexslider.min.js'></script>
    <script src='js/twitterFetcher_v10_min.js'></script>
    <script src='js/jquery.masonry.min.js'></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.easypiechart.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/style.js"></script>
    <script src="js/Exercise1.js"></script>
    <script src="js/Exercise2.js"></script>
    <script src="js/Exercise3.js"></script>
    <script src="js/Exercise4.js"></script>
    <script src="scripts/SyntaxHighlighter/shCore.js"></script>
    <script src="scripts/SyntaxHighlighter/shBrushJScript.js"></script>
    <script>
        function toggle(id) {
            var element = document.getElementById(id);
            var list = document.getElementsByClassName("exercises");
            for (var i = 0; i < list.length; i++) {
                list[i].style.display = "none";
            }
            element.style.display = "block";
        }
    </script>
    <script type="text/javascript">SyntaxHighlighter.all();</script>

</body>

</html>